@import "tailwindcss";
@import "tailwindcss";

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}